<!-- Set the width of new leave_type page  -->
<div class="container" style="width: 70%">


<!-- <div class="border-form-div span9"> -->
	<div class="">  
		<%= render :partial => 'form' %>  
	</div>
</div>


<%#= link_to 'Back', leave_types_path %>
