<%#= javascript_include_tag  "fullcalendar","jquery.qtip-1.0.0.min.js" %>
<%= javascript_include_tag  "fullcalendar" %>
<%if !user_signed_in?%> <div class="page-header"></div><%end%>
<div style="width:100%" class="sup_mc">
<div style="position:absolute;margin-left:270px;width:110px; margin-bottom:10px;font-weight:bold;font-size: 16px;"><%= link_to "+ New Leave", new_leafe_path, :class=>"but_evnt" if user_signed_in?%></div>
<div id='calendar'></div>
<div style="clear:both;height:20px"></div>
</div>

<script>
$(document).ready(function() {
//$('a[title]').qtip({ style: { name: 'cream', tip: true } })	
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({ 
		        height: 350,
				firstDay: 1,
		        theme: true,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: true,
			loading: function(bool){
            if (bool) 
                $('#loading').show();
            else 
                $('#loading').hide();
            },
					eventSources: [{
					url: '/leaves',
					color: '#ff0000',
					textColor: '#ffffff',
					border:'1px solid #7BD148',
					ignoreTimezone: false
				}],
        eventRender: function(event, element) {
            element.attr('title', event.tip);
        }
        
		});
		
	});

</script>