<div class="container custom_container well">
<div class="fl">  
	<%= render 'form' %>
</div>


<%#= link_to 'Show', @leave ,  :class => 'btn btn-primary'%> 
<%#= link_to 'Back', leaves_path ,  :class => 'btn'%>
