<div class="container custom_container">

<!-- <div class="border-form-div span9"> -->
<div class="">  
	<%= render :partial => 'form' %>
   

</div>
</div>

<%#= link_to 'Back', leaves_path ,  :class => 'btn' %>
