<div class="container custom_container ">
	<div class="fl">  
		<%= render :partial => 'form' %>
	</div>
	<div class="fl">
		<div id="leave_status" style="margin-left: 30px;"></div>
	</div>
</div>

<%#= link_to 'Back', leaves_path ,  :class => 'btn' %>
