/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require "bootstrap_and_overrides"
 *= require colorpicker
 *= require fullcalendar
 */
   
@media print {
  body { background-color: #FFF; }
  .container-fluid {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
        
  #line_items {
          page-break-before: always;
  }
}

.fl{
  float:left;
}

.fr{
  float:right;
}

.user_leave_status{
  border-collapse: collapse;
}
.user_leave_status, .user_leave_status tr, .user_leave_status tr th, .user_leave_status tr td{
  border: 1px solid #aaa;
  text-align: center;
  padding: 3px 5px;
}
